name: ci-custom-rsdns

on:
  push:
    branches:
      - '**-custom'
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  ci:
    runs-on: ${{ matrix.runs_on }}
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - 1.56.0  # MSRV
        runs_on:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        feature:
          - net-std
          - net-async-std
          - net-tokio
          - net-smol
          - default
        include:
          - runs_on: ubuntu-latest
            feature: net-tokio,socket2
            rust: stable
          - runs_on: ubuntu-latest
            feature: net-tokio,socket2
            rust: beta
          - runs_on: ubuntu-latest
            feature: net-tokio,socket2
            rust: 1.56.0  # MSRV
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - uses: jannekem/run-python-script-action@v1
        with:
          script: |
            lines = []
            with open("Cargo.toml", "r") as cargo:
                lines = cargo.readlines()

            for i in range(len(lines)):
                if lines[i] == '# path = "dep/rsdns"\n':
                    lines[i] = 'path = "dep/rsdns"\n'
                    print('rsdns path set to "dep/rsdns"')

            with open("Cargo.toml", "w") as cargo:
                cargo.write(''.join(lines))
            print('Cargo.toml updated succcessfully')

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
          components: rustfmt, clippy

      - uses: actions-rs/cargo@v1
        name: build ch4
        with:
          command: build
          args: --no-default-features --features ${{ matrix.feature }}

      - uses: actions-rs/cargo@v1
        name: show ch4 info
        if: ${{ !(matrix.feature == 'net-async-std' && matrix.runs_on == 'windows-latest') }}
        env:
          RUST_BACKTRACE: "full"
        with:
          command: run
          args: --no-default-features --features ${{ matrix.feature }} -- --info

      - uses: actions-rs/cargo@v1
        name: ch4 list nameservers
        if: ${{ !(matrix.feature == 'net-async-std' && matrix.runs_on == 'windows-latest') }}
        env:
          RUST_BACKTRACE: "full"
        with:
          command: run
          args: --no-default-features --features ${{ matrix.feature }} -- --list-nameservers

      - uses: actions-rs/cargo@v1
        name: test ch4
        with:
          command: test
          args: --no-default-features --features ${{ matrix.feature }}

      - uses: actions-rs/cargo@v1
        name: lint ch4
        with:
          command: clippy
          args: --no-default-features --features ${{ matrix.feature }} -- -D warnings

  common-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
          components: rustfmt
      - uses: actions-rs/cargo@v1
        name: format all
        with:
          command: fmt
          args: -- --check
